@import url('./reset.css');

:root {
  --active-color: #2e80ed;
  --body-bg-color: #f2f4f6;
  --body-color: #000;
  --header-bg-color: #fff;
  --header-color: #4f4f4f;
  --header-anchor-color: #4f4f4f;
  --header-anchor-hover-color: #2e80ed;
  --header-hero-banner-color: #fff;
  --main-section-bg: #fff;
  --main-social-media-nav-li-bg-color: #e5e5e5;
  --main-social-media-nav-anchor-color: #000;
  --main-social-media-nav-icon-color: #000;
  --footer-bg-color: #fff;
  --footer-color: #000;
  --icon-fa-github-color: #000;
  --icon-fa-instagram-color: #c73678;
  --icon-fa-linkedin-color: #0a66c2;
  --software-developer-color: #2973d5;
}

/* html */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-size: 15px;
}

/* animation */
@keyframes dropoff {
  from {
    opacity: 0;
    translate: 0px -30px;
  }
  to {
    opacity: 1;
    translate: 0px 0px;
  }
}

/* class */
.active {
  color: var(--active-color);
}

.box-1 {
  /* background-color: #f00; */
  width: 15%;
}

.box-2 {
  /* background-color: #0f0; */
  background-image: url('../image/hero-banner.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  /* content: url('../image/hero-banner.jpg'); */
  margin-top: -25px;
  width: 45%;
}

.box-3 {
  /* background-color: #00f; */
  height: 100vh;
  width: 40%;
}

.box-1, .box-2, .box-3 {
  align-items: center;
  display: flex;
  height: calc(100vh - 50px);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.center {
  display: grid;
  place-content: center;
}

.drop-off {
  animation: dropoff 1s ease-in;
}

.fa-github {
  color: var(--icon-fa-github-color);
}

.fa-instagram {
  color: var(--icon-fa-instagram-color);
}

.fa-linkedin {
  color: var(--icon-fa-linkedin-color);
}

.flex {
  display: flex;
}

.greetings {
  font-size: 32px;
  font-weight: 300;
  margin-left: 50px;
}

.header-nav.flex {
  font-size: 0px;
}

.header-title {
  background-image: url('../image/header-icon.png');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0px 5px;
  font-size: 0px;
}

/* .hero-banner {
  background-image: url('../image/hero-banner.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.on-hover:hover {
  translate: 0px -15px;
}

.portfolio {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0px 0px 0px -175px;
  opacity: 50%;
  transform: rotate(-90deg);
  width: fit-content;
}

.software-developer {
  color: var(--software-developer-color);
  font-weight: 400;
}

/* header */
header {
  /* background-color: var(--header-bg-color); */
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); */
  /* color: var(--header-color); */
  font-size: 0px;
  height: 50px;
  line-height: 50px;
}

header .flex {
  justify-content: space-between;
}

.header-title a {
  color: #000;
}

header .header-title h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-left: 45px;
}

header .header-nav.flex {
  justify-content: flex-end;
}

/* header .header-nav nav ul {
  font-size: 0px;
} */

header .header-nav nav ul li {
  display: inline;
}

header .header-nav nav ul li + li {
  margin-left: 20px;
}

header .header-nav nav ul li a {
  color: var(--header-anchor-color);
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

header .header-nav nav ul li a.active {
  color: var(--active-color);
}

header .header-nav ul li a:hover {
  color: var(--header-anchor-hover-color);
}

header .hero-banner .center {
  height: 100vh;
}

header .hero-banner p {
  color: var(--header-hero-banner-color);
  font-size: 24px;
}

header .box-3 .greetings p {
  margin: 15px 0px;
}

/* main */
main section {
  background-color: var(--main-section-bg);
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin: 40px 0px;
  padding: 20px;
}

main section p + p {
  margin-top: 15px;
}

main section .social-media-nav {
  font-size: 0px;
}

main section .social-media-nav ul li {
  background-color: var(--main-social-media-nav-li-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: inline-block;
  height: 200px;
  margin: 20px 0px;
  transition: all 0.25s ease-in-out;
  width: 150px;
}

main section .social-media-nav ul li + li {
  margin-left: 30px;
}

main section .social-media-nav ul li a {
  color: var(--main-social-media-nav-anchor-color);
  font-size: 20px;
  height: 200px;
  width: 150px;
}

main section .social-media-nav ul li a i {
  font-size: 50px;
  line-height: 200px;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
}

/* footer */
footer {
  background-color: var(--footer-bg-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: var(--footer-color);
  height: 100px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 800px) {
  /* class */
  .on-hover:hover {
    translate: 15px 0px;
  }
  
  /* main */
  main .hero-banner .container p {
    width: auto;
  }
  
  main section .social-media-nav nav ul li {
    display: block;
  }
  
  main section .social-media-nav nav ul li + li {
    margin-left: 0px;
  }
}