@import url('./reset.css');

body {
  color: #000;
  font-size: 15px;
}

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px)
}

.email {
  color: rgba(0, 0, 0, 0.50);
  text-decoration: underline;
  letter-spacing: 2.5px;
}

.flex {
  display: flex;
}

.header-info {
  display: grid;
  align-items: center;
  place-content: center;
  text-align: center;
  height: calc(100vh - 50px - 100px - 25px - 50px - 25px - 50px);
}

.header-info p:nth-child(1) {
  font-size: 50px;
  letter-spacing: 5px;
}

.header-info p:nth-child(2) {
  font-size: 25px;
  letter-spacing: 2.5px;
  margin-top: 50px;
}

.header-nav {
  border-top: 1px solid rgba(0, 0, 0, 0.25);;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 50px;
  justify-content: center;
  line-height: 50px;
  margin: 25px 0px;
  width: 100%;
}

.header-title {
  height: 100px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.name {
  letter-spacing: 5px;
}

.role {
  letter-spacing: 2.5px;
}

/* header */
header {
  height: 100vh;
}

header .flex {
  flex-wrap: wrap;
}

header nav {
  font-size: 0px;
}

header nav ul {
  
}

header nav ul li {
  display: inline-flex;
  font-size: 15px;
}

header nav ul li + li {
  margin-left: 30px;
}