@import url('./reset.css');

:root {
  --body-bg-color: #f2f4f6;
  --body-color: #000;
  --header-bg-color: #fff;
  --header-anchor-color: #4f4f4f;
  --header-anchor-hover-color: #000;
  --main-section-bg: #fff;
  --main-hero-banner-color: #fff;
  --main-social-media-nav-anchor-color: #000;
  --main-social-media-nav-icon-color: #000;
}

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}

/* body */
body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-size: 15px;
}

/* header */
header {
  background-color: var(--header-bg-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 0px;
  height: 50px;
  line-height: 50px;
}

header .flex {
  justify-content: space-between;
}

header .header-title h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

header .header-nav ul {
  font-size: 0px;
}

header .header-nav ul li {
  display: inline;
}

header .header-nav ul li + li {
  margin-left: 15px;
}

header .header-nav ul li a {
  color: var(--header-anchor-color);
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

header .header-nav ul li a:hover {
  color: var(--header-anchor-hover-color);
}

/* main */
main .hero-banner {
  background-image: url(../image/hero-banner.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-hero-banner-color);
  display: grid;
  font-size: 24px;
  height: calc(100vh - 50px);
  place-content: center;
  text-align: center;
  text-shadow: 0px 0px 2px #000;
}

main .hero-banner .container p {
  width: 360px;
}

main section {
  background-color: var(--main-section-bg);
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  line-height: 2;
  margin: 40px 0px;
  padding: 20px;
}

main section .social-media-nav {
  font-size: 0px;
}

main section .social-media-nav ul li a {
  color: var(--main-social-media-nav-anchor-color);
  font-size: 20px;
}

main section .social-media-nav ul li a i {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  color: var(--main-social-media-nav-icon-color);
  font-size: 30px;
  margin-right: 15px;
}

main section .social-media-nav ul li {
  margin: 10px 0px 0px 25px;
}