:root {
  --body-bg-color: #1f1f1f;
  --body-color: #fff;
}

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}

/* html */
html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--body-bg-color); */
  /* color: var(--body-color); */
  background-color: #f2f4f6;
  font-size: 15px;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }

h1, h2, h3 {
  font-weight: 400;
  letter-spacing: 2.5px;
}

/* header */
/* header {} */

header .header-user {
  align-items: center;
  display: grid;
  height: 150px;
  margin: 25px 0px;
  place-items: center;
}

header .header-user .user-name {
  letter-spacing: 5px;
  text-transform: uppercase;
}

header .header-user .user-role {
  font-size: 20px;
  letter-spacing: 5px;
}

header .header-user .user-email {
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  letter-spacing: 2.5px;
  text-decoration: underline;
}

header .header-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0px;
  height: 50px;
  justify-content: center;
  line-height: 50px;
  margin: 25px 0px;
}

header .header-menu ul {
  display: inline-flex;
  height: 50px;
}

header .header-menu ul li { margin: 0px 15px; }

header .header-menu ul li a {
  color: #000;
  font-size: 20px;
}

header .header-menu ul li a:hover {
  color: #4c4cff;
  transition: color 0.25s ease-in;
}

@media screen and (max-width: 720px) {
  header .header-user { height: 150px; }
  
  header .header-user .user-name { font-size: 30px; }
  
  /* header .header-user .user-role {} */
  
  header .header-user .user-email { letter-spacing: 5px; }
  
  header .header-menu { height: 150px; align-items: center;}
  
  header .header-menu ul {
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
  }
  
  header .header-menu ul li {
    height: 50px;
    line-height: 50px;
  }
}

/* Landscape */
.user-info {
  align-items: center;
  display: grid;
  height: calc(100vh - 325px - 25px - 25px);
  place-content: center;
  text-align: center;
}

.user-info p:nth-child(1) {
  font-size: 50px;
  letter-spacing: 5px;
}

.user-info p:nth-child(2) {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2.5px;
  margin-top: 50px;
}

@media screen and (max-width: 720px) {
  .user-info p:nth-child(1) {
    font-size: 20px;
    letter-spacing: 5px;
  }
  
  .user-info p:nth-child(2) {
    font-size: 15px;
    margin-top: 25px;
  }
}