:root {
  --body-bg-color: #1f1f1f;
  --body-color: #fff;
}

/* class */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

/* html */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
}
